# Things to always exclude
global-exclude .git*
global-exclude .ipynb_checkpoints
global-exclude *.py[co]
global-exclude tests
global-exclude *.ibd
global-exclude *.imzML
global-exclude *.icache
global-exclude *.md
global-exclude _version.py
exclude dockerfile
exclude .dockerignore
exclude .editorconfig
recursive-exclude .idea *
recursive-exclude examples *
recursive-exclude scripts *
recursive-exclude tools *
recursive-exclude assets *

# Top-level config
recursive-include imzy *.pyi
include MANIFEST.in
include setup.cfg

# Always include
global-include *.pyx
global-include *.c
global-include src *.dll
global-include src *.so
global-include src *.txt
